# CopyRight FlareHorz Team. All Rights Reserved.

# IDE files
.vs/
.vscode/
.idea/

# Solution files
FlareHorz.sln
FlareHorz.sln.lua
!FlareHorz.sln.minimal.lua
FlareHorz.sln.DotSettings.user

FlareBuildTool/FlareBuildTool.csproj
FlareCore/FlareCore.csproj

# Binaries and intermediate
Binaries/
Intermediate/

# Logs
**/Logs/
