# CopyRight FlareHorz Team. All Rights Reserved.

# IDE files
.vs/
.vscode/
.idea/

# Solution files
FlareHorz.sln
FlareHorz.sln.lua
FlareHorz.sln.build.lua
!FlareHorz.sln.minimal.lua
FlareHorz.sln.DotSettings.user

# Project files
*.csproj
*.vcxproj
*.vcxproj.filters

# Binaries and intermediate
Binaries/
Intermediate/

# Logs
**/Logs/
*.fhlog
